<%= simple_form_for [@recipient, @kudo] do |f| %>
  <div class="form-group">
  <%= f.hidden_field :recipient_id, value: @recipient.id %>
    <%= f.input :message, input_html: { class: 'form-control' }, placeholder: "Say Something!", autofocus: true, object: f.object %>
  </div>

  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

